# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
env/
venv/
.local/

# Data folders
uploaded_files/
vectorstores/
app_data.db
*.pkl
*.faiss

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
